.main-tiles{
    background-color: lightgray;
    border: 1px solid black;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

.main-tiles p{
    padding-top: 40px;
    text-transform: uppercase;
    text-align: center;
}

a.link{
    cursor: pointer;
}